### yfinance python library examples

library: https://pypi.org/project/yfinance/

In [1]:
import yfinance as yf

In [2]:
aapl= yf.Ticker("aapl")
print(aapl)

yfinance.Ticker object <AAPL>

In [3]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 161.34,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.084,
 'beta3Year': None,
 'enterpriseToEbitda': 20.903,
 '52WeekChange': 0.3386116,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 110322490,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59422,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.12741053,
 'priceToBook': 36.65152,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.2,
 'sharesShortPreviousMonthDate': 1643587200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2680113594368,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 6.959587,
 'dateShortInterest': 1646006400,
 'pegRatio': 1.76,
 'ytdReturn': None,
 'forwardPE': 24.594511,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 91388112,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 160.62,
 'regularMarketOpen': 160.51,
 'twoHundredDayAverage': 154.24205,
 'trailingAnnualDividendYield': 0.005385382,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 161.92,
 'navPrice': None,
 'averageDailyVolume10Day': 98445690,
 'regularMarketPreviousClose': 160.62,
 'fiftyDayAverage': 166.8062,
 'trailingAnnualDividendRate': 0.865,
 'open': 160.51,
 'toCurrency': None,
 'averageVolume10days': 98445690,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 159.76,
 'currency': 'USD',
 'trailingPE': 26.822943,
 'regularMarketVolume': 31124594,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2632971976704,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 92772800,
 'dayLow': 159.76,
 'ask': 161.79,
 'askSize': 2200,
 'volume': 31124594,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.13,
 'fiftyTwoWeekLow': 118.86,
 'bid': 161.78,
 'tradeable': False,
 'dividendYield': 0.0057,
 'bidSize': 1000,
 'dayHigh': 161.92,
 'regularMarketPrice': 161.34,
 'preMarketPrice': 160.44,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.0052}

In [4]:
aapl_historical = aapl.history(start="2022-03-10", end="2022-03-16", interval="1m")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-03-10 09:30:00-05:00,160.199997,160.389999,159.630005,159.931595,3626430,0,0
2022-03-10 09:31:00-05:00,159.949997,160.059998,159.690002,159.869995,506332,0,0
2022-03-10 09:32:00-05:00,159.880005,159.880005,159.509995,159.585007,434654,0,0
2022-03-10 09:33:00-05:00,159.600006,159.809998,159.509995,159.608994,438243,0,0
2022-03-10 09:34:00-05:00,159.589996,159.619904,159.289993,159.320007,443213,0,0
...,...,...,...,...,...,...,...
2022-03-15 15:55:00-04:00,155.220001,155.229996,155.059998,155.100006,460103,0,0
2022-03-15 15:56:00-04:00,155.100006,155.279999,155.000000,155.139999,440894,0,0
2022-03-15 15:57:00-04:00,155.139999,155.160004,155.039993,155.115005,367431,0,0
2022-03-15 15:58:00-04:00,155.119995,155.160004,155.020004,155.070007,435951,0,0
2022-03-15 15:59:00-04:00,155.070007,155.169998,154.938095,155.160004,1390515,0,0

In [5]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30")
data

[*********************100%***********************]  3 of 3 completed

            Adj Close                              Close              \
                 AAPL        AMZN        GOOG       AAPL        AMZN
Date
2017-01-03  27.297691  753.669983  786.140015  29.037500  753.669983
2017-01-04  27.267139  757.179993  786.900024  29.004999  757.179993
2017-01-05  27.405802  780.450012  794.020020  29.152500  780.450012
2017-01-06  27.711329  795.989990  806.150024  29.477501  795.989990
2017-01-09  27.965151  796.919983  806.650024  29.747499  796.919983
...               ...         ...         ...        ...         ...
2017-04-24  33.904781  907.409973  862.760010  35.910000  907.409973
2017-04-25  34.114857  907.619995  872.299988  36.132500  907.619995
2017-04-26  33.914230  909.289978  871.729980  35.919998  909.289978
2017-04-27  33.940186  918.380005  874.250000  35.947498  918.380005
2017-04-28  33.907143  924.989990  905.960022  35.912498  924.989990

                             High                                Low  \
                  GOOG       AAPL        AMZN        GOOG       AAPL
Date
2017-01-03  786.140015  29.082500  758.760010  789.630005  28.690001
2017-01-04  786.900024  29.127501  759.679993  791.340027  28.937500
2017-01-05  794.020020  29.215000  782.400024  794.479980  28.952499
2017-01-06  806.150024  29.540001  799.440002  807.900024  29.117500
2017-01-09  806.650024  29.857500  801.770020  809.966003  29.485001
...                ...        ...         ...         ...        ...
2017-04-24  862.760010  35.987499  909.989990  863.450012  35.794998
2017-04-25  872.299988  36.224998  909.479980  875.000000  35.967499
2017-04-26  871.729980  36.150002  915.750000  876.049988  35.845001
2017-04-27  874.250000  36.040001  921.859985  875.400024  35.827499
2017-04-28  905.960022  36.075001  949.590027  916.849976  35.817501

                                         Open                          \
                  AMZN        GOOG       AAPL        AMZN        GOOG
Date
2017-01-03  747.700012  775.799988  28.950001  757.919983  778.809998
2017-01-04  754.200012  783.159973  28.962500  758.390015  788.359985
2017-01-05  760.260010  785.020020  28.980000  761.549988  786.080017
2017-01-06  778.479980  792.203979  29.195000  782.359985  795.260010
2017-01-09  791.770020  802.830017  29.487499  798.000000  806.400024
...                ...         ...        ...         ...         ...
2017-04-24  903.820007  849.859985  35.875000  908.679993  851.200012
2017-04-25  903.000000  862.809998  35.977501  907.039978  865.000000
2017-04-26  907.559998  867.747986  36.117500  910.299988  874.229980
2017-04-27  912.109985  870.380005  35.980000  914.390015  873.599976
2017-04-28  924.330017  905.770020  36.022499  948.830017  910.659973

               Volume
                 AAPL     AMZN     GOOG
Date
2017-01-03  115127600  3521100  1657300
2017-01-04   84472400  2510500  1073000
2017-01-05   88774400  5830100  1335200
2017-01-06  127007600  5986200  1640200
2017-01-09  134247600  3446100  1274600
...               ...      ...      ...
2017-04-24   68537200  3122900  1372500
2017-04-25   75486000  3380600  1672000
2017-04-26   80164800  2608900  1237200
2017-04-27   56985200  5305500  2026800
2017-04-28   83441600  7364700  3276300

[81 rows x 18 columns]

In [6]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01",
                    end="2017-04-30", group_by='tickers')
data

[*********************100%***********************]  3 of 3 completed

                  AMZN                                                  \
                  Open        High         Low       Close   Adj Close
Date
2017-01-03  757.919983  758.760010  747.700012  753.669983  753.669983
2017-01-04  758.390015  759.679993  754.200012  757.179993  757.179993
2017-01-05  761.549988  782.400024  760.260010  780.450012  780.450012
2017-01-06  782.359985  799.440002  778.479980  795.989990  795.989990
2017-01-09  798.000000  801.770020  791.770020  796.919983  796.919983
...                ...         ...         ...         ...         ...
2017-04-24  908.679993  909.989990  903.820007  907.409973  907.409973
2017-04-25  907.039978  909.479980  903.000000  907.619995  907.619995
2017-04-26  910.299988  915.750000  907.559998  909.289978  909.289978
2017-04-27  914.390015  921.859985  912.109985  918.380005  918.380005
2017-04-28  948.830017  949.590027  924.330017  924.989990  924.989990

                          AAPL                                              \
             Volume       Open       High        Low      Close  Adj Close
Date
2017-01-03  3521100  28.950001  29.082500  28.690001  29.037500  27.297697
2017-01-04  2510500  28.962500  29.127501  28.937500  29.004999  27.267139
2017-01-05  5830100  28.980000  29.215000  28.952499  29.152500  27.405804
2017-01-06  5986200  29.195000  29.540001  29.117500  29.477501  27.711330
2017-01-09  3446100  29.487499  29.857500  29.485001  29.747499  27.965151
...             ...        ...        ...        ...        ...        ...
2017-04-24  3122900  35.875000  35.987499  35.794998  35.910000  33.904781
2017-04-25  3380600  35.977501  36.224998  35.967499  36.132500  34.114857
2017-04-26  2608900  36.117500  36.150002  35.845001  35.919998  33.914230
2017-04-27  5305500  35.980000  36.040001  35.827499  35.947498  33.940186
2017-04-28  7364700  36.022499  36.075001  35.817501  35.912498  33.907146

                             GOOG                                      \
               Volume        Open        High         Low       Close
Date
2017-01-03  115127600  778.809998  789.630005  775.799988  786.140015
2017-01-04   84472400  788.359985  791.340027  783.159973  786.900024
2017-01-05   88774400  786.080017  794.479980  785.020020  794.020020
2017-01-06  127007600  795.260010  807.900024  792.203979  806.150024
2017-01-09  134247600  806.400024  809.966003  802.830017  806.650024
...               ...         ...         ...         ...         ...
2017-04-24   68537200  851.200012  863.450012  849.859985  862.760010
2017-04-25   75486000  865.000000  875.000000  862.809998  872.299988
2017-04-26   80164800  874.229980  876.049988  867.747986  871.729980
2017-04-27   56985200  873.599976  875.400024  870.380005  874.250000
2017-04-28   83441600  910.659973  916.849976  905.770020  905.960022


             Adj Close   Volume
Date
2017-01-03  786.140015  1657300
2017-01-04  786.900024  1073000
2017-01-05  794.020020  1335200
2017-01-06  806.150024  1640200
2017-01-09  806.650024  1274600
...                ...      ...
2017-04-24  862.760010  1372500
2017-04-25  872.299988  1672000
2017-04-26  871.729980  1237200
2017-04-27  874.250000  2026800
2017-04-28  905.960022  3276300

[81 rows x 18 columns]